{
  auto_https off
  email {$CADDY_ADMIN_EMAIL}
}

http://{$SERVER_IP} {
  handle_path /api/* {
    reverse_proxy api:3030 {
      flush_interval -1
      transport http {
        versions 1.1
      }
    }
  }

  handle /v1/* {
    reverse_proxy kong:8000 {
      flush_interval -1
      transport http {
        versions 1.1
      }
    }
  }

  handle /key/* {
    reverse_proxy kong:8000 {
      flush_interval -1
      transport http {
        versions 1.1
      }
    }
  }

  handle {
    respond "xiaolanbu gateway is running" 200
  }
}
