{
  email {$CADDY_ADMIN_EMAIL}
}

{$ROOT_DOMAIN} {
  respond "xiaolanbu is running" 200
}

{$SERVER_IP}:80 {
  @origin_api {
    path /api/*
  }
  handle @origin_api {
    uri strip_prefix /api
    reverse_proxy api-router:8080
  }

  @api_legacy {
    host {$API_DOMAIN}
    path /api/*
  }
  handle @api_legacy {
    uri strip_prefix /api
    reverse_proxy api-router:8080
  }

  @api_root {
    host {$API_DOMAIN}
    path /
  }
  handle @api_root {
    respond "xiaolanbu api is running" 200
  }

  @api_all host {$API_DOMAIN}
  handle @api_all {
    reverse_proxy api-router:8080
  }

  @gateway_root {
    host {$GATEWAY_DOMAIN}
    path /
  }
  handle @gateway_root {
    respond "xiaolanbu gateway is running" 200
  }

  @gateway_all host {$GATEWAY_DOMAIN}
  handle @gateway_all {
    reverse_proxy kong:8000
  }

  handle {
    respond "xiaolanbu gateway is running" 200
  }
}

{$API_DOMAIN} {
  @api_legacy path /api/*
  handle @api_legacy {
    uri strip_prefix /api
    reverse_proxy api-router:8080
  }

  @api_root path /
  handle @api_root {
    respond "xiaolanbu api is running" 200
  }

  handle {
    reverse_proxy api-router:8080
  }
}

{$GATEWAY_DOMAIN} {
  @gateway_root path /
  handle @gateway_root {
    respond "xiaolanbu gateway is running" 200
  }

  handle {
    reverse_proxy kong:8000
  }
}
